.everyday {
    padding-inline: 56px;
    max-width: 1920px;
    margin-inline: auto;

    &__container {
        backdrop-filter: blur(40px);
        background: linear-gradient(to bottom, rgba(255, 89, 247, 0.342) 0%, rgba(175, 114, 255, 0.322) 19.79%, rgba(144, 233, 237, 0.04) 40.62%, rgba(92, 209, 104, 0.199) 61.98%, rgba(255, 238, 0, 0.158) 82.53%);
        border-radius: 70px;
        max-width: 1808px;
        padding-block: 100px 61px;
    
        
        display: flex;
        flex-direction: column;
        gap: 200px;
    }
    &__content{
    }

    &__functions-title {
        font-weight: 700;
        font-size: 36px;
        max-width: 514px;

    }

    &__functions {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }


    &__functions-cards {
        display: flex;
        gap: clamp(20px, 4.9vw, 94px);
    }

    .functions-card {
        display: flex;
        flex-direction: column;
        gap: 60px;
        &__img{
            height: 120px;
        }
        &__header {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }

        &__name {
            display: flex;
            gap: 50px;
            align-items: center;
        }

        &__title {
            font-weight: 500;
            font-size: 24px;
        }

        &__number {
            font-size: 36px;
            font-weight: 700;
        }

        &__description {
            font-size: 18px;
            line-height: 200%;
            color: $mainGray;
        }
    }
}