.two-in-one {
  &__header {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &-title {
      flex: 0 1 473px;
      font-weight: 700;
      font-size: 36px;
    }

    &-description {
      flex: 0 1 571px;
      font-size: 18px;
      line-height: 200%;
    }
  }

  &__functions {
    &-cards {
      margin-top: 80px;
      margin-bottom: 390px;
    }
    &-content {
    }

    &-card {
      padding: 50px 60px 60px;
    }
  }

  &__benefit {
    &-card {
      padding: 60px 45px 44px;
    }

    &-cards {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-content {
      display: flex;
      gap: 29px;
      justify-content: space-between;
      margin-bottom: 90px;
    }
  }

  &__info-blocks {
    display: flex;
    flex-direction: column;
    gap: 300px;
  }

  @include table {
    &__header {
      &-title {
        font-size: 20px;
      }
      &-description {
        font-size: 12px;
      }
    }
    &__functions {
      &-cards {
        margin-top: 30px;
        margin-bottom: 202px;
      }

      &-card {
        padding: 60px;
      }
    }
    &__info-blocks {
      gap: 200px;
    }

    &__benefit {
      &-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
      }
    }
  }

  @include mobile {
    &__header {
      flex-direction: column;

      &-title {
        flex: 1 1 auto;
      }
      &-description {
        flex: 1 1 auto;
      }
    }
    &__functions {

    }

    &__benefit{
      &-cards{
        align-items: normal;
      }
    }
    &__download{
      align-self: center;
    }

    &__info-blocks {
      gap: 80px;
    }
  }
}

.cards-block {
  display: flex;
  gap: 29px;
  justify-content: space-between;

  @include table{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
  }

  @include mobile{
    display: flex;
        flex-direction: column;
        gap: 20px;
  }
}
