
.usage-card {
  max-width: 460px;
  flex: 1 1 460px;
  // width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;

  &__title {
    font-weight: 700;
    font-size: 36px;
  }
  &__main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 460px;
    width: 100%;
    background-color: #fff;
    max-height: 200px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16 / 9;
  }
  &__download {
    border-radius: 10px;
    box-shadow: 0 12px 56px 3px rgba(116, 33, 176, 0.48);
  }
  .accent-text {
    font-weight: 500;
  }
  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
  }



  @include table{

    flex: 1 1 auto;
    gap: 34px;

    &__description{
font-size: 14px;

        &-space{
            display: none;
        }
    }
    &__title{
        font-size: 18px;
    }
  }
}