mixin footer
    footer.footer 
        .container
            .footer__inner 
                .footer__logo 
                    a(href="/").footer__logo-link
                        svg(width="250" height="39")
                            use(xlink:href="/assets/icons/sprite.svg#logo") 
                nav.footer__pages
                    ul.footer__pages-list 
                        a(href="#").footer__pages-title Продукт
                        li.footer__pages-item 
                            a(href="#").footer__pages-link Функции
                        li.footer__pages-item 
                            a(href="#").footer__pages-link Преимущества
                        li.footer__pages-item 
                            a(href="#").footer__pages-link Как использовать
                    ul.footer__pages-list 
                        a(href="#").footer__pages-title Обратная связь
                    ul.footer__pages-list 
                        a(href="#").footer__pages-title Политика конфиденциальности