mixin footer
    footer.footer 
        .footer__inner 
            .footer__logo 
                a(href="").footer__logo-link
                    svg()
                        use()
            .footer__pages 
                ul.footer__pages-list 
                    a.footer__pages-title 
                    li.footer__pages-item 
                        a.footer__pages-link 
                    li.footer__pages-item 
                        a.footer__pages-link 
                    li.footer__pages-item 
                        a.footer__pages-link 
                    li.footer__pages-item 
                        a.footer__pages-link 
                ul.footer__pages-list 
                    a.footer__pages-title 
                ul.footer__pages-list 
                    a.footer__pages-title