mixin header
    header.header 
        .header__inner 
            .header__logo
                a(href="")
                    svg()
                        use() 
            .header__right 
                nav.header__nav
                    ul.header__nav-list
                        li.header__nav-item
                            a(href="").header__nav-link 
                        li.header__nav-item
                            a(href="").header__nav-link 
                        li.header__nav-item
                            a(href="").header__nav-link 
                        li.header__nav-item
                            a(href="").header__nav-link 
                select(name="").header__lang
                    option(value="RU")  
                    option(value="ENG")  