/* ================================ Fonts ================================ */
@import './_styles/*.scss';
html{
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  color: $mainBlack;
}
.wrapper{
  overflow-x: hidden;
}

.container {
  max-width: calc(1447px + 20px * 2);
  margin: 0 auto;
  padding: 0 20px;
  @include mobile {
    max-width: calc(1440px + 15px * 2);
    padding: 0 15px;
  }
}

.accent-text{
color: $violet;
}

.blured {
  backdrop-filter: blur(40px);
  background: rgba(196, 196, 196, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}

.download-btn{
  font-weight: 500;
font-size: 16px;
line-height: 150%;
color: $white;
padding: 23px 41px;
border-radius: 5px;
  &--violet{
    background: linear-gradient(to right, $gradient);
  }
  &--black{
    background: $mainBlack;
  }

  @include table{
    padding: 13px 27px;
  }
}

@import './fonts.scss';

/* ================================ Animations ================================ */
@import './_animations/**/*.scss';

/* ================================ Styles ================================ */


/* ================================ Reset ================================ */
@import './reset.scss';

/* ================================ Base ================================ */
@import './-base/**/*.scss';
