mixin annotationBlock
    article.annotation-block 
        .container 
            .annotation-block__container 
                .annotation-block__img 
                    svg(width="144" height="144")
                        use(href="/assets/icons/sprite.svg#save")
                .annotation-block__info
                    .annotation-block__text Присоединяйтесь к 50 000 + пользователей, которые ежедневно используют Screenshoter в работе и личной переписке
                    a(href="#").annotation-block__btn.download-btn.download-btn--violet Загрузить сейчас
