mixin benefits
    section.benefits 
        .container
            .benefits__content
                .benefits__header 
                    .benefits__header-annotation.blured Бесплатная программа для windows
                    img(src="/assets/images/benefits/purpleThing.png", alt="").benefits__header-img
                    h2.benefits__header-title
                        span.accent-text Screenshoter 
                        | полезен всем, <br> кто работает в интернете
                    .benefits__header-description Согласовывайте рабочие вопросы, показывайте интересные вещи и обсуждайте любые темы. Делитесь комментариями с помощью бесплатного инструмента 2 в 1
                .benefits__cards.cards-block
                    .benefits__card.promote-card 
                                .promote-card__img
                                    svg(width="80" height="80")
                                        use(xlink:href="/assets/icons/sprite.svg#star")
                                h3.promote-card__title Без регистрации: не нужно вводить никаких персональных данных
                    .benefits__card.promote-card 
                                .promote-card__img
                                    svg(width="80" height="80")
                                        use(xlink:href="/assets/icons/sprite.svg#shield")
                                h3.promote-card__title Бесплатно, без скрытых платежей и комиссий
                    .benefits__card.promote-card 
                                .promote-card__img
                                    svg(width="80" height="80")
                                        use(xlink:href="/assets/icons/sprite.svg#cubes")
                                h3.promote-card__title Неограниченное количество скриншотов и записей
                    .benefits__card.promote-card 
                                .promote-card__img
                                    svg(width="80" height="80")
                                        use(xlink:href="/assets/icons/sprite.svg#cloud")
                                h3.promote-card__title Файлы хранятся в течение 1 года — вы можете удалить их в любое время
