mixin everyday
    section.everyday
        h2.everyday__title 
           span.accent-text Screenshoter
        |  - это функции на каждый день
        .everyday__cards 
            .everyday__card 
                .everyday__card-img 
                    img(src="/assets/images/everydayFunctions/functionDonut", alt="")    
                .everyday__card-header
                    .everyday__card-number.accent-text 
                    h3.everyday__card-title 
                .everyday__card-description 
            .everyday__card 
                .everyday__card-img 
                    img(src="/assets/images/everydayFunctions/functionCube", alt="")    
                .everyday__card-header
                    .everyday__card-number.accent-text 
                    h3.everyday__card-title 
                .everyday__card-description 
            .everyday__card 
                .everyday__card-img 
                    img(src="/assets/images/everydayFunctions/functionCone", alt="")    
                .everyday__card-header
                    .everyday__card-number.accent-text 
                    h3.everyday__card-title 
                .everyday__card-description 
        article.everyday__usage
            h2.everyday__usage-title 
                span.accent-text
            .everyday__usage-cards 
                .everyday__usage-card.usage-card 
                    .usage-card__title.accent-text
                    .usage-card__main 
                        a(href="#").usage-card__download
                    .usage-card__description 
                        span.accent-text 
                        | 
                .everyday__usage-card.usage-card 
                    .usage-card__title.accent-text
                    .usage-card__main 
                        .usage-card__img 
                            img(src="", alt="")
                    .usage-card__description 
                        span.accent-text 
                        | 
                .everyday__usage-card.usage-card 
                    .usage-card__title.accent-text
                    .usage-card__main 
                        .usage-card__img 
                            img(src="", alt="")
                    .usage-card__description 
                        span.accent-text 
                    |                      