mixin everyday
    section.everyday
        .everyday__container
                article.everyday__functions.container
                    h2.everyday__functions-title 
                        span.accent-text Screenshoter
                        |  - это функции на каждый день
                    .everyday__functions-cards 
                        .everyday__function-card.functions-card 
                            .functions-card__img 
                                img(src="/assets/images/everydayFunctions/functionDonut.png" alt="")    
                            .functions-card__main
                                .functions-card__name
                                    .functions-card__number.accent-text 01.
                                    h3.functions-card__title Обмен идеями
                                .functions-card__description Когда нужно что-то наглядно показать коллеге, исполнителю или заказчику — можно сделать снимок экрана и добавить к нему комментарий. <br><br>
                                    | А если ситуация требует более детального объяснения — окей, не проблема. Screenshoter поможет записать видео экрана вместе с вашими голосовыми комментариями
                        .functions-card 
                            .functions-card__img 
                                img(src="/assets/images/everydayFunctions/functionCube.png" alt="")    
                            .functions-card__main
                                .functions-card__name
                                    .functions-card__number.accent-text 02.
                                    h3.functions-card__title Создание инструкций
                                .functions-card__description Нужно что-то наглядно объяснить? Создавайте удобные, пошаговые инструкции, добавляя комментарии и визуальные отметки в необходимом месте скриншота. <br> <br>
                                    | Поделиться снимком или видеозаписью можно с помощью ссылки, которая мгновенно появляется в буфере обмена
                        .functions-card 
                            .functions-card__img 
                                img(src="/assets/images/everydayFunctions/functionCone.png" alt="")    
                            .functions-card__main
                                .functions-card__name
                                    .functions-card__number.accent-text 03.
                                    h3.functions-card__title Обратная связь
                                .functions-card__description Если в процессе работы приложения, сайта или сервиса возникла ошибка, её можно моментально зафиксировать. <br><br>
                                    | Отправьте скриншот в техподдержку, где будет видно, в чем именно заключается проблема
                article.everyday__usage 
                    .container
                        h2.everyday__usage-title Как использовать 
                            span.accent-text Screenshoter
                        .everyday__usage-cards 
                            .everyday__usage-card.usage-card 
                                .usage-card__title.accent-text Шаг 1.
                                .usage-card__main 
                                    a(href="#").usage-card__download.download-btn.download-btn--violet Скачать бесплатно
                                .usage-card__description 
                                    span.accent-text Скачайте программу 
                                    .usage-card__description-space
                                    span.usage-card__description-text на свой ПК или ноутбук
                            .everyday__usage-card.usage-card 
                                .usage-card__title.accent-text Шаг 2.
                                .usage-card__main 
                                    //- .usage-card__img 
                                        img(src="/assets/images/everydayFunctions/programm.png" alt="")
                                .usage-card__description 
                                    span.accent-text Запустите Screenshoter: 
                                    .usage-card__description-space
                                    span.usage-card__description-text программа будет работать в фоновом режиме
                            .everyday__usage-card.usage-card 
                                .usage-card__title.accent-text Шаг 3.
                                .usage-card__main 
                                    //- .usage-card__img 
                                        img(src="/assets/images/everydayFunctions/programm.png" alt="")
                                .usage-card__description 
                                    span.accent-text Наслаждайтесь удобством
                                    .usage-card__description-space    
                                    span.usage-card__description-text и быстродействием