mixin faq 
    section.faq
        .container 
            .faq__content
                h2.faq__title FAQ
                .faq__cards
                    .faq__card
                        .faq__card-number.accent-text 01. 
                        .faq__card-content
                            .faq__card-title Платная ли программа? 
                            .faq__card-container 
                                .faq__card-container-animation 
                                    .faq__card-container-animation-wrapper Нет, Screenshoter абсолютно бесплатный. Вам не нужно платить за скачивание, установку или использование программы — все функции бесплатные
                        label.faq__card-open
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M29.428 29.4282L10.5719 10.5721" stroke="#131313" stroke-width="2" stroke-linecap="round" />
                                <path d="M29.4281 10.5721L10.572 29.4282" stroke="#131313" stroke-width="2" stroke-linecap="round" />
                            </svg>
                            input(type="checkbox", name="")
                        