include layouts/modules/_m-head.pug
include layouts/components/header.pug
include layouts/components/footer.pug
include layouts/mainPage/everyday.pug
include layouts/mainPage/oneClick.pug
include layouts/mainPage/twoInOne.pug

html(lang='ru')
  +m-head
  body 
    .wrapper 
      +header
      +oneClick 
      +twoInOne 
      +everyday
      +footer