$FFInter: "Inter", "Arial";

//breakpoints
$laptop: 1439px;
$table: 1023px;
$mobile: 767px;
$mediumMobile: 576px;
$smallMobile: 374px;


$rainbowGradient: rgba(255, 89, 248, 0.04) 0%, rgba(174, 114, 255, 0.04) 19.79%, rgba(144, 233, 237, 0.04) 40.62%, rgba(92, 209, 103, 0.04) 61.98%, rgba(255, 238, 0, 0.04) 82.53%;
$violet: #7421B0;
$mainBlack: #131313;
$mainGray : #828282;
$white: #ffffff;


$gradient: #7421B0, #D08EFF;

@mixin laptop {
  @media screen and (max-width: $laptop) {
    @content;
  }
}

@mixin table {
  @media screen and (max-width: $table) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin mediumMobile {
  @media screen and (max-width: $mediumMobile) {
    @content;
  }
}

@mixin smallMobile {
  @media screen and (max-width: $smallMobile) {
    @content;
  }
}
